{{=<% %>=}}
<%#content%>
<ion-item-divider>
    <h2><%{title}%></h2>
</ion-item-divider>
<ion-card>
    <ion-card-content>
        <core-format-text text="<% content %>" component="block_cohortspecifichtml" componentId="<% blockid %>"></core-format-text>
    </ion-card-content>
</ion-card>
<%/content%>
